body {
    margin: 0;
}

#contenedor {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 8px;
}

.cuadrado {
    height: 200px;
    width: 200px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}